p {
  font-family: 'Coming Soon', cursive;
  color: green;
  font-size: 125%;
}
label {
  font-family: 'PT Sans', sans-serif;
  display:block;
}
h3 {
  font-family: 'PT Sans', sans-serif;
}

span {
  font-family: 'Coming Soon', cursive;
  color: red;
  font-weight: bold;
}
